- @job_searches.each do |j|
  %table.table
    %tbody
      %tr
        %td= image_tag(j.image, class: 'job-search-image')
        %td= link_to j.name, j.homepage, target: "_blank"
        %td= j.description