- if @saved_searches.count > 0
  %h1.text-center
    Saved Job Searches
  - @saved_searches.each do |saved_search|
    = render partial: "saved_searches/#{saved_search.job_search.type.underscore}/saved_search_results.html", locals: { saved_search: saved_search }
- else
  %p
    You have no saved searches
  %p
    = link_to 'Click here', saved_searches_new_path
    to create a new saved search