#brand-icon {
  width: auto;
  height: 1.5em;
}

.applied {
  background-color: #b8bcff;
}

.deleted {
  background-color: #ffabab;
}

.job-logo {
  width: 100%;
}

#error_explanation {
  color: red;
  & h2 {
    font-size: 125%;
  }
}

.clickable {
  cursor: pointer;
}

.alert {
  color: red;
  text-align: center;
}

.notice {
  text-align: center;
}