#brand-icon {
  width: auto;
  height: 1.5em;
}

.applied {
  background-color: #b8bcff !important;
}

.deleted {
  background-color: #ffabab !important;
}

.never-viewed {
  background-color: #ffff91 !important;
}

.job-logo {
  width: 100%;
}

#error_explanation {
  color: red;
  & h2 {
    font-size: 125%;
  }
}

.clickable {
  cursor: pointer;
}

ul.no-bullets {
  list-style-type: none;
}